.link
	position(2px, 1px)
	display inline-block
	font 21px/25px bold
	text-decoration none
	color linkColor
	border-bottom solid linkColor 1px
	transition color .24s ease-in-out, border .24s ease-in-out

	&:hover
		color hoverColor
		border-bottom solid transparent 1px
