.profile-row
	position()
	pre
		textarea-decoration()

	&__label
		position(0, 0, absolute, 10)
		padding 28px 18px 5px 1px
		color titleColor
		background url(../../img/canvas.jpg)

	&__textarea
	pre
		width 100%

	&__textarea
		height 62px

	pre
		position(0, 0, absolute)
		visibility hidden
		opacity 0

	&:nth-of-type(1)
		label
			padding-right 18px
		textarea
			height 60px
		textarea
		pre
			text-indent 158px

	&:nth-of-type(2)
		label
			padding-right 16px
		textarea
			height 63px
		textarea
		pre
			text-indent 167px
			background-position left 49px

	&:nth-of-type(3)
		label
			left -1px
			padding-right 19px
			word-spacing 1px
		textarea
			height 65px
		textarea
		pre
			text-indent 207px
			background-position left 47px

	&:nth-of-type(4)
		label
			top -2px
			left -1px
			padding-right 14px
		textarea
			height 61px
		textarea
		pre
			text-indent 87px
			background-position left 45px

	&:nth-of-type(5)
		label
			top 1px
			left -1px
			padding-right 15px
		textarea
			height 62px
		textarea
		pre
			text-indent 87px
			background-position left 45px
