.spoiler
	position()
	height 0
	overflow hidden

	&-out-pad
		padding 20px 0 46px

	textarea
		display block
		width 100%
		letter-spacing 2px
		background-position left 43px

	pre
		visibility hidden
		width 100%
		letter-spacing 2px
		opacity 0
		textarea-decoration()
		position(0, 0, absolute, 1)
