breakPoint1           = 900px
breakPoint2           = 780px
breakPoint3           = 660px
breakPoint4           = 890px
breakPoint5           = 930px
breakPoint6           = 560px
breakPoint7           = 650px
breakPoint8           = 740px
breakPoint9           = 780px
breakPoint10          = 820px
breakPoint11          = 380px

bold                  = PTSans-Bold, sans-serif
regular               = PTSans-Regular, sans-serif
cu                    = 'Courier-Unicode', serif

bodyBackgroundColor   = #797979

titleColor            = #2f1b15
descrColor            = #3d3d3d
textareaColor         = #231f20
checkBoxTitleColor    = #000
linkColor             = #1f5f97
hoverColor            = #f00

mainOutPad            = 0 50px
mainWidth             = 1000px
