include /blocks/index/index
extends /blocks/layout-default/layout-default

block head
	- const pageTitle = 'CSSSR Project Template'
	- const pageKeywords = 'csssr-project-template, cpt, csssr, project, template, frontend, boilerplate, gulp, webpack, babel, jade, stylus'
	- const pageDescription = 'CSSSR Project Template'
	- const copyright = 'CSSSR'
	- const author = 'CSSSR'
	- const rootURL = ''

block content
	+index()